<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"     value="t265" />
    <arg name="serial_no"  value="943222110441" />
    <arg name="enable_color"        default="false"/>
    <arg name="enable_depth"        default="false"/>
    <arg name="enable_infra2"        default="false"/>
    <arg name="enable_infra1"        default="false"/>
  </include>

</launch>
