<launch>
    <node name="uwb_least_squares_O" pkg="offboard_control" type="uwb_least_squares" respawn="true" output="screen">
        <rosparam file="$(find offboard_control)/config/uwb_params.yaml" command="load"/>
        <rosparam file="$(find offboard_control)/config/uwb_least_squares.yaml" command="load"/>
        <param name="uwb_topic_suffix_ls" value="/ls/O" />
        <param name="uwb_range_topics" value='["/dwm1001/O2A/distance", "/dwm1001/O2B/distance", "/dwm1001/O2C/distance", "/dwm1001/O2D/distance"]' />
    </node>

    <node name="uwb_least_squares_P" pkg="offboard_control" type="uwb_least_squares" respawn="true" output="screen">
        <rosparam file="$(find offboard_control)/config/uwb_params.yaml" command="load"/>
        <rosparam file="$(find offboard_control)/config/uwb_least_squares.yaml" command="load"/>
        <param name="uwb_topic_suffix_ls" value="/ls/P" />
        <param name="uwb_range_topics" value='["/dwm1001/P2A/distance", "/dwm1001/P2B/distance", "/dwm1001/P2C/distance", "/dwm1001/P2D/distance"]' />
    </node>
</launch>
