<launch>

    <node name="uwb_least_squares_hist" pkg="offboard_control" type="uwb_least_squares_hist" respawn="true" output="screen">
        <rosparam file="$(find offboard_control)/config/uwb_params.yaml" command="load"/>
        <rosparam file="$(find offboard_control)/config/uwb_least_squares.yaml" command="load"/>
    </node>
    
</launch>
