<launch>

<node name="position_to_mavros" pkg="offboard_control" type="position_to_mavros_node" respawn="true" output="screen">
    <rosparam file="$(find offboard_control)/config/position_to_mavros_params.yaml" command="load"/>
    <!--<param name="my_integer" type="int" value="7" /-->
</node>

<node name="safe_offboard" pkg="offboard_control" type="safe_offboard_node" respawn="true" output="screen">
    <rosparam file="$(find offboard_control)/config/safe_offboard_params.yaml" command="load"/>
</node>


</launch>