<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">                                               │└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
    <arg name="camera"     value="t265" />                                                                         │┌─┤mem├──────────────────┬─┤disks├─────────────────┐┌─┤processes├─┤filter├──────────┤reverse├┤tree├┤‹ cpu lazy ›├─┐
    <arg name="serial_no"  value="947122110535" />                                                                 ││ Memory:       3.70 GiB │ root           28.4 GiB ││ Pid: Program:        Arguments:  Tr: User:  Mem%      ▼Cpu% │
  </include>

</launch>
