<launch>
    
  <include file="$(find tfmini_ros_tiers)/launch/tfmini.launch" />

  <node pkg="dwm1001_uwb_tag_drivers" type="dwm1001_active" name="dwm1001_active" output="screen">
    <param name="port" type="string" value="/dev/ttyACM1" />
    <param name="tag_name" type="string" value="dronie" />
  </node>

  <include file="$(find realsense2_camera)/launch/rs_t265.launch" />

  <node pkg="offboard_control" type="uwb_lidar_vio_to_mavros" name="uwb_lidar_vio_to_mavros" output="screen">
    <param name="uwb_topic" type="string" value="/dwm1001/tag/dronie/position" />
    <param name="vio_topic" type="string" value="/camera/odom/sample" />
    <param name="lidar_topic" type="string" value="/tfmini_ros_node/range" />
    <param name="output_topic" type="string" value="/mavros/vision_pose/pose" />
  </node>

</launch>
